<div class="card my-5">
    <div class="card-body">

        <mat-card class=register-card>
            <form (ngSubmit)="onRegister()" #userForm="ngForm">

                <div *ngIf="registerRespRecieved == false else elseBlock ">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" [(ngModel)]="registerRequest.nickname" class="form-control" id="nickname"
                            name="nickname" placeholder="Enter your name" required #nickname="ngModel">
                    </div>
                    <!-- <div [hidden]="!nickname.pristine" class="alert alert-danger">Name is required</div> -->

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" [(ngModel)]="registerRequest.email" class="form-control" id="email"
                            name="email" placeholder="Enter your email address" required #email="ngModel">
                        <!-- <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div> -->
                    </div>

                    <div class="form-group">
                        <label for="email">Password</label>
                        <input type="text" [(ngModel)]="registerRequest.password" class="form-control" id="password"
                            name="password" placeholder="Enter your password" required #email="ngModel">
                        <!-- <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div> -->
                    </div>
                    <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Register</button>
                </div>
                <ng-template #elseBlock>
                    <div class="card-body">
                        <p>Registration Succsessfull!!</p>
                        <button type="submit" class="btn btn-info" (click)="goToLogin()">Go to Login</button>
                    </div>
                </ng-template>
            </form>
        </mat-card>
    </div>
</div>