/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.blue-snackbar {
    background: #2e86ce;
  }

.green-snackbar{
    background: #159915;
}

.red-snackbar{
    background: #cc3333;
}